<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-row {
            margin-bottom: 20px;
        }
        .el-col {
            border-radius: 4px;
        }
        .bg-purple-dark {
            background: #99a9bf;
        }
        .bg-purple {
            background: #d3dce6;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>
</head>
<body>
<div id="app">
    <el-form :model="formData">
        <el-form-item label="活动名称" prop="name">
            <el-input v-model="formData.name" placeholder="请确认活动名称"></el-input>
        </el-form-item>
        <el-form-item label="活动区域">
            <el-select v-model="formData.area" placeholder="请选择活动区域">
                <!--el-option的标签显示由label属性决定-->
                <el-option label="上海" value="shanghai"></el-option>
                <el-option label="北京" value="beijing"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="活动时间" required>
            <!--日期选择器 value-format设置日期或者时间的格式-->
            <el-date-picker type="date" placeholder="选择日期" v-model="formData.date"
                value-format="yyyy-MM-dd"
            ></el-date-picker> -
            <!--时间选择器-->
            <el-time-picker placeholder="选择时间"v-model="formData.time"
                            value-format="HH:mm:ss"></el-time-picker>
        </el-form-item>
        <el-form-item label="即时配送" prop="delivery">
            <!--开关-->
            <el-switch v-model="formData.switch"></el-switch>
        </el-form-item>
        <el-form-item label="活动性质" prop="type">
            <!--复选框,注意对应的数据类型是数组-->
            <!--应该用label来决定每个复选框显示的文字，而不是在标签内部写-->
            <el-checkbox-group v-model="formData.type">
                <el-checkbox label="美食/餐厅线上活动" value="1"></el-checkbox>
                <el-checkbox label="地推活动" value="2"></el-checkbox>
                <el-checkbox label="线下主题活动" value="3"></el-checkbox>
                <el-checkbox label="单纯品牌曝光" value="4"></el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item label="活动来源" prop="resource">
            <el-radio-group v-model="formData.resource">
                <el-radio label="1">线上品牌商赞助</el-radio>
                <el-radio label="2">线下场地免费</el-radio>
                <el-radio label="3">线下场地自费</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="活动介绍">
            <el-input type="textarea" placeholder="请输入活动介绍" v-model="formData.introduce"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submit">立即创建</el-button>
            <el-button>重置</el-button>
        </el-form-item>
    </el-form>
</div>

<!--注意引入顺序-->
<!--引入vue-->
<script src="../js/vue.js"></script>
<!-- 引入ElementUI组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#app",
        data:{
            formData:{
                name:"团建",
                area:"",
                date:"",
                time:"",
                switch:false,
                type:[],
                resource:"",
                introduce:""
            }
        },
        methods:{
            submit:function () {
                // console.log(this.formData);
                console.log(JSON.stringify(this.formData));
            }
        }
    })
</script>
</body>
</html>